a {
  width: 100%;
  height: 300px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}
.gallery-title {
  margin: -40px 0 50px 0;
  font-size: 38px;
  color: rgb(79, 8, 105);
  text-align: center;
  font-weight: 500;
}
.gallery-title:after {
  content: '';
  position: absolute;
  width: 7.5%;
  left: 46.5%;
  height: 45px;
  border-bottom: 1px solid #5e5e5e;
}
.filter-button {
  font-size: 18px;
  border: 1.5px solid rgb(18, 10, 63);
  border-radius: 5px;
  text-align: center;
  color: rgb(18, 10, 63);
  margin: 0 10px 40px 0;
  text-transform: capitalize;
}
.filter-button:hover {
  font-size: 18px;
  border: 1.5px solid rgb(18, 10, 63);
  border-radius: 5px;
  text-align: center;
  color: #ffffff;
  background-color: rgb(18, 10, 63);
}
.filter-button.active {
  background-color: rgb(18, 10, 63);
  color: white;
}
.port-image {
  width: 100%;
}

.gallery_product {
  margin-bottom: 30px;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.block {
  opacity: 0;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@media only screen and (max-width: 500px) {
  .image-gallery-button {
    font-size: 10px;
    outline: none;
    border: none;
    border-radius: 4px;
    background-color: rgb(18, 10, 63);
    color: white;
    text-align: center;
    margin: 10px 0 10px 0;
  }
}

@media only screen and (max-width: 500px) {
  .image-gallery-button i {
    margin: 0 6px 0 0;
    font-size: 10px;
    color: white;
  }
}

.image-gallery-button {
  font-size: 11px;
  outline: none;
  border: none;
  border-radius: 4px;
  background-color: rgb(18, 10, 63);
  color: white;
  text-align: center;

  margin: 20px 0 0 0;
  padding: 4px 6px;
}
.image-gallery-button i {
  margin: 0 8px 0 0;
  font-size: 12px;
  color: white;
}
